:root {
	--spacing: 10px;
	--larger-spacing: 15px;
	--shadow: 0px 1px 10px #D5D5D5;
   --border-radius: 3px;
   --light-background: #F4F4F4;
   --font-size: 13px;
}

body, html {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: var(--font-size);
  color: grey;
}

/*
Fonts
*/

h1, h2, h3 {
   font-family: Georgia, serif;
   color: black;
   font-weight: 500;
}

h1 {
   margin: 0 0 var(--spacing) 0;
   font-size: 24px;
  
}

h2 {
	font-size: 18px;
	margin: var(--spacing) 0;
}

h3 {
	font-size: 15px;
   margin: 0;
   margin-bottom: var(--spacing);
}

p {
  font-size: var(--font-size);
  margin: var(--spacing) 0;
  color: grey;
}

#map {
  width: 100vw;
  height: 100vh;
}

.emphasis {
   color: black;
   font-weight: bold;
}

#clear {
   display: none;
}


.key-item {
   margin: 10px 0;
   display: flex;
   align-items: center;
}

.square {
   height: 14px;
   width: 14px;
   display: inline-block;
   border-radius: var(--border-radius);
   margin-right: 8px;
}

.circle {
   height: 12px;
   width: 12px;
   display: inline-block;
   border-radius: 50%;
   margin-right: 9px;
   margin-left: 3px;
   background: black;
}

.active {
	background: var(--light-background);
}

/*
Filter items
*/

.filter-container {
   box-shadow: var(--shadow);
   border-radius: 4px;
}

.filters {
	padding: 10px; 
	color: grey;
	width: 100%;
	border: 0px;
   font-size: 14px;
   box-sizing: border-box;
   cursor: pointer;
   position: relative;
   background: white;   
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid #F1F1F1;
   border-radius: 4px;
}

.filters img {
   transition: .3s all;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   height: 20px;
}
.filter-items {
   height: 0;
   position: absolute; 
   width: calc(100% - 2 * var(--larger-spacing));
   box-sizing: border-box;
   box-shadow: var(--shadow);
   overflow-y: scroll;
   transition: .2s all ease-in-out;
   max-height: 350px;
}

.filter-item {
   color: gray;
   background: white;
   box-sizing: border-box;
   display: flex;
}

.select-text {
   padding: 10px;
   cursor: pointer;
}

.filter-item:hover {
   background: var(--light-background);
}

.filter-item input {
   padding: 10px 0;
}
.filter-item label {
   padding: 10px 0;
   width: 100%;
   cursor: pointer;
   padding-left: 5px;
}

#loading-container {
   height: 37px;
   width: 37px;
   background: white;
	margin: var(--larger-spacing);
	position: absolute;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	right: calc(300px + var(--larger-spacing));
   z-index: 500000;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: .3s all;
   opacity: 0;
}

#loading-container img {
   height: 30px;
   width: 30px;
}

#range {
   flex: 1;
}

#range-text {
   width: 70px;
   text-align: right;
}

.slider-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.range {
   -webkit-appearance: none;  
   -moz-appearance: none;
   appearance: none;
   height: 3px; 
   background: #d3d3d3;
   outline: none;
   border-radius: var(--border-radius);
}

.range::-webkit-slider-thumb {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 6px;
   height: 15px;
   background: black; 
   cursor: pointer; 
   border-radius: 2px;
}

.range::-moz-range-thumb {
   width: 6px;
   height: 15px;
   background: black; 
   cursor: pointer; 
   border-radius: 2px;
}

/*
Radio buttons
*/

.radio-container {
   display: block;
   position: relative;
   padding-left: 25px;
   margin: 15px 0;
   cursor: pointer;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   font-size: var(--font-size);
}

.radio-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
}

.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 16px;
   width: 16px;
   background-color: var(--secondary-background);
   border: 1px solid #ccc;
   border-radius: 50%;
   transition: .1s all ease-in-out;
}

.radio-container input:checked ~ .checkmark {
   background-color: black;
   border: 1px solid transparent;
}
 
.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}
 
.radio-container input:checked ~ .checkmark:after {
   display: block;
}
 
.radio-container .checkmark:after {
   top: 5px;
   left: 5px;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: white;
}