:root {
	--spacing: 10px;
	--larger-spacing: 15px;
	--shadow: 0px 1px 10px #D5D5D5;
   --border-radius: 3px;
   --light-background: #F4F4F4;
}

body,
html {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 14px;
  color: grey;
}

h1 {
  font-family: Georgia, serif;
  margin: 0 0 var(--spacing) 0;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

h2 {
	font-family: Georgia, serif;
	font-size: 18px;
	margin: var(--spacing) 0;
   font-weight: 500;
   color: black;
}

p {
  font-size: 14px;
  margin: var(--spacing) 0;
}
#map {
  width: 100vw;
  height: 100vh;
}
#sidebar {
  width: 300px;
  background: white;
  z-index: 500000;
  position: absolute;
  margin: var(--larger-spacing);
  padding: var(--larger-spacing);
  max-height: calc(100vh - 2 * var(--larger-spacing));

  box-sizing: border-box;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}





p {
  font-size: 13px;
  color: grey;
}



.emphasis {
  color: black;
  font-weight: bold;
}

.custom .leaflet-popup-tip {
  display: none;
}
.custom .leaflet-popup-content-wrapper {
  background: #fff;
  border: 1.5px solid #d3d6d8;
  padding: 20px;
  color: black;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  font-family: sans-serif;
  font-size: 14px;
}

.key {
  display: inline-block;
  width: 80px;
}

#clear {
  display: none;
}


.key-item {
   margin: 10px 0;
   display: flex;
   align-items: center;
}
.square {
  height: 14px;
  width: 14px;
  display: inline-block;
  border-radius: var(--border-radius);
  margin-right: 5px;
}





/**

SEARCH CONTAINER


**/

#search-container {
	background: white;
	margin: var(--larger-spacing);
	position: absolute;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	right: 0;
	width: 300px;
	z-index: 500000;
}



.text-field {
	border-radius: var(--border-radius);
	padding: 10px;
	color: black;
	width: 100%;
	border: 0px;
	font-size: 14px;
}


.text-field::placeholder {
	color: lightgrey;
}

.text-field:focus {
	outline: none;
}

.autocomplete-items {
	position: relative;
}

.item {
	cursor: pointer;
	padding: 10px;
	color: gray;
	border-top: 1px solid lightgray;
}

.active {
	background: var(--light-background);
}

/*
*
*
FILTER ITEMS 
*/

.filter-container {
   border-radius: var(--border-radius);
   box-shadow: var(--shadow);
}

.filters {
   /* border-radius: var(--border-radius); */
	padding: 10px;
	color: grey;
	width: 100%;
	border: 0px;
   font-size: 14px;
   box-sizing: border-box;
   
   cursor: pointer;
   position: relative;
   background: white;   
}
.filter-items {
   display: none;
   position: absolute; 
   width: calc(100% - 2 * var(--larger-spacing));
   height: 200px; 
   box-sizing: border-box;
   box-shadow: var(--shadow);
   
   overflow-y: scroll;
}



.filter-item {
   /* padding: 10px 10px; */
   color: gray;
   background: white;
   box-sizing: border-box;
   display: flex;
}

.filter-item:hover {
   background: var(--light-background);
}

.filter-item input {
   padding: 10px 0;
}
.filter-item label {
   /* background: blue; */
   padding: 10px 0;
   width: 100%;
   cursor: pointer;
   padding-left: 5px;
   /* display: inline-block; */
}

#loading-container {
   height: 37px;
   width: 37px;
   background: white;
	margin: var(--larger-spacing);
	position: absolute;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	right: calc(300px + var(--larger-spacing));
   z-index: 500000;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: .3s all;
   opacity: 0;
}

#loading-container img {
   height: 30px;
   width: 30px;
}



#range {
   flex: 1;
}

#range-text {
   width: 70px;
   text-align: right;
}

.slider-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.range {
   -webkit-appearance: none;  /* Override default CSS styles */
   appearance: none;
   height: 4px; /* Specified height */
   background: #d3d3d3; /* Grey background */
   outline: none;
   border-radius: var(--border-radius);
}

.range::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   width: 13px; /* Set a specific slider handle width */
   height: 13px; /* Slider handle height */
   background: black; /* Green background */
   cursor: pointer; 
   border-radius: 50%;/* Cursor on hover */
 }
